[Unit]
Description=Boiller Control Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/Users/oleg/workspace/garbage/boiller
ExecStart=/usr/local/bin/docker-compose up -d check
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target