version: '3.8'

services:
  deye:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: deye
    stdin_open: true
    tty: true
    volumes:
      - .:/workspace
    working_dir: /workspace

