services:
  base:
    build:
      context: .
      dockerfile: Dockerfile
    image: boiller:latest

  token:
    image: boiller:latest
    environment:
      - TZ=Europe/Kyiv
    volumes:
      - .:/workspace
    working_dir: /workspace
    command: python3.12 token_extractor.py

  check:
    image: boiller:latest
    container_name: boiller-service
    restart: always
    network_mode: host
    environment:
      - TZ=Europe/Kyiv
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/workspace
    working_dir: /workspace
    command: python3.12 boiller.py

  web:
    image: boiller:latest
    container_name: boiller-web
    restart: always
    ports:
      - "8080:5000"
    environment:
      - TZ=Europe/Kyiv
      - PYTHONUNBUFFERED=1
      - WEB_PORT=5000
    volumes:
      - .:/workspace
    working_dir: /workspace
    command: python3.12 web_server.py
