services:
  base:
    build:
      context: .
      dockerfile: Dockerfile
    image: boiller:latest

  token:
    image: boiller:latest
    volumes:
      - .:/workspace
    working_dir: /workspace
    command: python3.12 token_extractor.py

  check:
    image: boiller:latest
    volumes:
      - .:/workspace
    working_dir: /workspace
    command: python3.12 boiller.py
