services:
  base:
    build:
      context: .
      dockerfile: Dockerfile
    image: boiller:latest

  token:
    image: boiller:latest
    environment:
      - TZ=Europe/Kyiv
    volumes:
      - .:/workspace
    working_dir: /workspace
    command: python3.12 token_extractor.py

  check:
    image: boiller:latest
    container_name: boiller-service
    restart: unless-stopped
    environment:
      - TZ=Europe/Kyiv
    volumes:
      - .:/workspace
    working_dir: /workspace
    command: python3.12 boiller.py
